/* Background styles*/
body {
  background-color: #1c1c1c;
}

/* Textarea styles */
.area-container {
  display: flex;
  margin: 130px auto 0 auto;
  width: 1000px;
  height: 150px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.7);
  padding: 10px;
  font-size: 1.5em;
  background-color: black;
  resize: none;
  color: #0ff;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  caret-color: #0ff;
}

/* Keyboard Styles */
.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 1000px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.7);
  padding: 10px;
  font-size: 1.5em;
  background-color: #111;
  color: #0ff;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.7);
  background-color: rgba(0, 255, 255, 0.1);
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: small;
  user-select: none;
  text-shadow: 0px 0px 10px #0ff;
}

.keys:hover {
  background-color: rgba(0, 255, 255, 0.2);
  cursor: pointer;
}

.highlight {
  background-color: rgba(0, 255, 255, 0.5) !important;
}

/* Special keys */
.keys.shift {
  width: 126px;
}

.keys.enter {
  width: 136px;
}

.keys.backspace {
  width: 140px;
}

.keys.tab {
  width: 78px;
}

.keys.caps-lock {
  width: 116px;
}

.keys.space {
  width: 325px;
}

.keys.lang-key {
  width: 65px;
}

.keys.ctrl {
  width: 75px;
}