/* Textarea styles*/

.area-container {
  display: flex;
  margin: 130px auto 0 auto;
  width: 1000px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 10px;
  font-size: 1.5em;
  background-color: #f5f5f5;
  resize: none;
}

/* Keyboard Styles */
.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 1000px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 10px;
  font-size: 1.5em;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: small;
  user-select: none;
}

.keys:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Special keys */
.keys.shift {
  width: 126px;
}

.keys.enter {
  width: 136px;
}

.keys.backspace {
  width: 140px;
}

.keys.tab {
  width: 78px;
}

.keys.caps-lock {
  width: 116px;
}

.keys.space {
  width: 325px;
}

.keys.lang-key {
  width: 65px;
}

.keys.ctrl {
  width: 75px;
}