/* Background styles*/
*{
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Textarea styles */
.area-container {
  display: flex;
  margin: 100px auto 0 auto;
  width: 950px;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 255, 0, 0.1) 0px 1px 1px 0px inset, rgba(0, 255, 0, 0.25) 0px 10px 30px -20px, rgba(0, 255, 0, 0.3) 0px 30px 60px -30px;
  padding: 10px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 1.8;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  caret-color: green;
  resize: none;
  outline: none !important;
  border:1px solid rgba(0, 255, 0, 0);
}

.area-container:focus {
  background-color: rgba(0, 0, 0, 0.9);
  outline: none !important;
  border:1px solid rgba(0, 255, 0, 0.1);
}

.area-container::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(199, 206, 199, 0.5); /* background color of the scrollbar */
  border-radius: 4px;
  cursor: auto;
}

.area-container::-webkit-scrollbar-thumb {
  background-color: rgb(6, 71, 6); /* color of the scrollbar thumb */
  border-radius: 4px;
}

.area-container::-webkit-scrollbar-track {
  background-color: rgba(5, 73, 5, 0.541); /* color of the scrollbar track */
}

.area-container::-webkit-scrollbar-thumb:active {
  background-color: #999;
}

/* Information Box Styles*/
.information {
  display: flex;
  margin: 30px auto 0 auto;
  width: 950px;
  height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 255, 0, 0.1) 0px 1px 1px 0px inset, rgba(0, 255, 0, 0.25) 0px 50px 100px -20px, rgba(0, 255, 0, 0.3) 0px 30px 60px -30px;
  padding: 10px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 1.8;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}

/* Keyboard Styles */
.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  width: 950px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 255, 0, 0.1) 0px 1px 1px 0px inset, rgba(0, 255, 0, 0.25) 0px 50px 100px -20px, rgba(0, 255, 0, 0.3) 0px 30px 60px -30px;
  padding: 10px;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(160, 206, 156);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.7);
  background-color: rgba(0, 255, 0, 0.1);
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: small;
  user-select: none;
  text-shadow: 0px 0px 10px rgb(191, 209, 187);
}

.keys:hover {
  background-color: rgba(115, 255, 0, 0.2);
  cursor: pointer;
}

@keyframes key-press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.highlight {
  background-color: rgba(115, 255, 0, 0.4);
  animation: key-press 0.2s;
}

.lang-key {
  background-color: rgba(115, 255, 0, 0.4);
  font-weight: bold;
}

.lang-key:hover {
  background-color: rgba(115, 255, 0, 0.4);
  cursor: default;
}

/* Special keys */
.ShiftLeft {
  width: 126px;
}

.ShiftRight {
  width: 122px;
}

.Enter {
  width: 136px;
}

.Backspace {
  width: 140px;
}

.Tab {
  width: 78px;
}

.CapsLock {
  width: 112px;
}

.Space {
  width: 320px;
}

.Lang {
  width: 61px;
}

.ControlLeft {
  width: 71px;
}

.ControlRight {
  width: 75px;
}